
body{
    background-image: url('resources/background.jpg') !important;
    font-family: Arial;
}

.cajaTexto {
	text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 200%;
}

.tituloPagina {
    text-align: center;
    font-size: 3em;
}

.boton {
    margin-top: 20px;
    margin:auto;
    display:block;
    margin:auto;
    background-color: Transparent;
    color: white;
}
.boton:hover{
    border-color: rgb(120,120,255);
}

.grupoBotones {
    display: inline;
    background-color:transparent;
}

.enlaces {
	text-align: center;
    margin-bottom: 20px;
    line-height: 200%;
}

.textoPresentacion {
	text-align: center;
    margin-bottom: 20px;
}

input {
    color: black;
    width: 20%;
    height: 50px;
}

select {
    color: black;
    width: 20%;
    opacity: 50%;
    height: 50px;
}

label, h1, h2 ,p, legend{
    color: #fff !important;
}


/*Especificos de la pagina principal*/
#resBusqueda{
    width: 70%;
    height: 500px;
    margin:auto;
    display:block;
    /*overflow-y: scroll;*/
    overflow-y:auto;
}
.cuadroViaje{
    padding: 10px;
}
.precio{
    float: right;
    font-size: 3em;
}
.titulo{
    font-size: 2em;
}
.valoracion{
    display: inline-block;
}
#userinfobox{
    /*height: 40px;*/
    font-size: 15px;
    padding: 15;
    background-color: rgba(120,120,120,0.5);
}
.cerrarSesion{
    text-align: right;
    float: right;
}
span{
    margin-left: 30px;
}
ul:before{
     content:attr(aria-label);
}