body{
    background-image: url('../resources/background.jpg') !important;
    font-family: Arial;
    color: white;
}

#enlace {
    color:white;
}


label {
color: #B4886B;
font-weight: bold;
display: block;
width: 150px;
float: left;
}

.cajaTexto {
	text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 200%;
}

.tituloPagina {
    text-align: center;
}

button {
    display:inline-block;       
    margin:0 auto;
    width: auto;
}

.grupoBotones {
    text-align: center;
}

.enlaces {
	text-align: center;
    margin-bottom: 20px;
    line-height: 200%;
}

.textoPresentacion {
	text-align: center;
    margin-bottom: 20px;
}